.font-fancy, h1.title, h1.subtitle {
    font-family: "Miss Fajardose", sans-serif;
}

.font-title, h2.title, h2.subtitle {
    font-family: "Great Vibes", sans-serif;
}

.font-subtitle, h3.title, h3.subtitle {
    font-family: "Amatic SC", sans-serif;
}

.font-sans, h4.title, h4.subtitle, h5.title, h5.subtitle, h6.title, h6.subtitle {
    font-family: "Heebo", sans-serif;
}

.font-serif, body {
    font-family: "Bellota", serif;
}

/* For fancy font, need to go even larger than Bulma defaults. */
.is-size-0 {
    font-size: 5rem;
}


html {
    background-color: #0A0A0A;
}

section {
    background-color: #FFFFFF;
}

.position-anchor {
    position: relative;
}

.spacer-large {
    height: 12vh;
}

.spacer-small {
    height: 4vh;
}

/* Navigation controls are the black background part of the painting. */
.navigator {
    background-color: #0A0A0A;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navigator-home-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    min-width: 8rem;
}

.navigator-home-left a.button {
    text-align: left;
    display: inline-block;
    padding-left: 2rem;
}

.navigator-home-right {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20vw;
}

.navigator-home-right a.button {
    text-align: right;
    display: inline-block; /* Normally flex with a justify-content override required? Strange. */
    padding-right: 3rem;
}

@media (max-width: 1000px) {
    /* The "Wedding Party" label is pretty long; prevent cutting it off when in-between mobile+tablet breakpoints. */
    .navigator-home-right a.button {
        padding-right: 2rem;
    }
}

.page-image {
    max-width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .page-image {
        max-height: 200px;
        margin-bottom: 0;
    }

    section.page-header {
        padding-bottom: 0;
    }
}

.content {
    font-size: 1.1rem;
}

.button.is-widthscaled {
    font-size: 1.75vw;
}

.__float-left {
    float: left;
}

.__float-right {
    float: right;
}

.covidbanner li {
    list-style: disc;
}

.covidbanner ul {
    padding-left: 2rem;
    margin-bottom: 1rem;

}

.covidbanner .message-body p:not(:last-of-type) {
    margin-bottom: 1rem;
}